main {
  text-align: center;
  vertical-align: center;
  background-color:Teal;
  height:auto;
  font-family: Times new roman;
  font-size: 30px; 
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  height:120vh;
  width:200vh;
  color:white;
  font-size:30px;
  font-family: 'Open Sans', sans-serif;
  border-radius:none;
  background-color: teal;

}